<h1>Time logging report for <%= Date.yesterday.strftime '%-d %b %Y' %></h1>
<p>
    Some of your employees logged a suspicious amount of time yesterday.
</p>
<table>
    <% @users.each do |user, hours, link| %>
    <tr>
        <td><%= user %></td>
        <td><%= hours.round(2) %></td>
        <td><a href="<%= link %>">entries</a></td>
    </tr>
    <% end %>
</table>
